DISCORD_TOKEN=twoj-token-bota
DISCORD_CLIENT_ID=twoje-id-klienta
DISCORD_GUILD_ID=twoje-id-serwera
VERIFIED_ROLE_ID=id-roli-zweryfikowanych
RECRUITMENT_APPLICATIONS_CHANNEL=id-kanalu-podania
RECRUITMENT_RESULTS_CHANNEL=id-kanalu-wyniki
TICKET_CATEGORY_ID=id-kategorii-ticketow
MEMBER_LOG_CHANNEL_ID=id-kanalu-powiadomien
MINECRAFT_SERVER=twoj-serwer.pl
MINECRAFT_PORT=25565

